<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main">
	<insert id="signup" parameterType="server.main.dto.ServerMainDto">
		INSERT INTO tp_account
		VALUES(tp_account_seq.NEXTVAL, #{id}, #{pwd}, #{name}, #{gender}, #{phone}, #{email}, SYSDATE, DEFAULT)
	</insert>
	<select id="idcheck" resultType="int" parameterType="String">
		SELECT count(*)
		FROM tp_account
		WHERE id=#{id}
	</select>
	<select id="login" resultType="int" parameterType="server.main.dto.ServerMainDto">
		SELECT user_id
		FROM tp_account
		WHERE id=#{id}
		AND pwd=#{pwd}
	</select>
	<select id="getInfo" resultType="server.main.dto.ServerMainDto" parameterType="int">
		SELECT *
		FROM tp_account
		WHERE user_id=#{user_id}
	</select>
	<select id="getRandomPage" resultType="server.main.dto.ServerMainDto">
		SELECT *
		FROM tp_account
	</select>
</mapper>



















